import(methods)
export(as.tensor)
export(cp)
export(cs_fold)
export(fold)
export(hamadard_list)
export(hosvd)
export(khatri_rao)
export(khatri_rao_list)
export(kronecker_list)
export(mpca)
export(pvd)
export(rand_tensor)
export(rs_fold)
export(t_mult)
export(t_svd)
export(t_svd_reconstruct)
export(ttl)
export(ttm)
export(tucker)
exportClasses(Tensor)
exportMethods("[")
exportMethods(Ops)
exportMethods(cs_unfold)
exportMethods(dim)
exportMethods(fnorm)
exportMethods(head)
exportMethods(innerProd)
exportMethods(modeMean)
exportMethods(modeSum)
exportMethods(print)
exportMethods(rs_unfold)
exportMethods(show)
exportMethods(t)
exportMethods(tail)
exportMethods(unfold)
exportMethods("[<-")
exportMethods(tperm)
exportMethods(vec)
exportMethods(matvec)